@import 'https://fonts.googleapis.com/css?family=Major+Mono+Display';
@import 'https://fonts.googleapis.com/css?family=Inconsolata';
@import 'https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text';
@import 'https://fonts.googleapis.com/css2?family=Zen+Loop';
@import "https://use.fontawesome.com/releases/v6.3.0/css/all.css";
* {
  background-color: #EEF5F8;
}
div, p,ul, li, .card, .fa-solid,h1, span {
background: none;

}
.header-primary {
   background-color: rgb(164, 136, 114,0.2) ;
   border-bottom: solid 1px #A48872; 
}
.header {
  text-shadow: 3px 2px #D2BFA1;
  background: none;
  color:  #413937;
  text-transform: uppercase;
  font-size: 2.9vw !important;
  line-height: 1.5em;
   letter-spacing: 2px;
  font-family: Major Mono Display;
  text-align: center;
  }
  nav > .container-fluid {
     background: none !important; 
    }

  .nav-link {
      background: none;
      cursor: pointer;
    }
.secondary {
  font-family: Zen Loop;
  color: #1F1F1F;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 1.5vw;
 text-align: center;
  padding: 2px;
  background: none;
}
.melie {
 background: url('./melie.jpg');
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  min-height:calc(100vh - 120px);
}
.content-wrapper {
  background: url('./muggsy.jpeg');
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  min-height:calc(100vh - 120px);
      -webkit-filter: blur(5px);
    filter: blur(5px);
  }
.content {
position: absolute;
  font-family: Inconsolata;
   color: #EEF5F8;
  background-color: rgb(227, 229, 232,0.2);
min-height:calc(100vh - 120px);
z-index: 999;
padding: 2px;
}
.content > .card {
    width: 25rem;
     background-color: rgb(164, 136, 114,0.2) ;
}
.heading {
    text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
  color: #A48872;
  letter-spacing: 6px;
  text-shadow: 3px 2px #D2BFA1;
  font-family: Zen Loop;
  background-color: rgb(164, 136, 114,0.2);
    border-bottom: solid 1px;}
